<% content_for :title, "Editing senator" %>

<h1>Editing senator</h1>

<%= render "form", senator: @senator %>

<br>

<div>
  <%= link_to "Show this senator", @senator %> |
  <%= link_to "Back to senators", senators_path %>
</div>
